// 스크롤바 너비 14px 추가
$pc: 1396px;
$tablet: 1395px;
$mobile: 900px;

@mixin pc {
  @media (min-width: $pc) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
