@use "@/styles/scrollbar";
@forward "@/styles/font-face";
@forward "@/styles/color";

* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: Pretendard, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
}

html {
  font-size: 1px;

  @include media.tablet {
    font-size: 0.9px;
  }

  @include media.mobile {
    font-size: 0.8px;
  }
}
